/* Parts del header ---------- */
.body {
    box-sizing: border-box;
    min-height: 85vh;
}
.header { /*header de la aplicacio, amb clase i no fen servir la tag,*/
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    box-sizing: border-box;
    background-color: #D51C1C;
    color: white;
    border-bottom: 2px solid #E2E2E2;
    font-size: 16px;
}

.headerTop { /*part superior del header; */
    width: 100%;
    max-height: 42px;
    min-height: 42px;
}


.headerTopLeft { /* la part superior es divideix en dos parts;*/
    min-width: 50%;
    max-width: 50%;
    min-height: 42px;
    max-height: 42px;
    box-sizing: border-box;
    float: left;
}

.headerTopRight {
    min-width: 50%;
    max-width: 50%;
    min-height: 42px;
    max-height: 42px;
    box-sizing: border-box;
    float: right;
}

.headerButton {
    width: 35px;
    height: 35px;
}

.headerBottom { /*part inferior */
    width: 100%;
    max-height: 62px;
    min-height: 62px;
}

.headerBottomPart { /* la part inferior es divideix en 3 parts */
    float: left;
    min-width: 33.33%;
    max-width: 33.33%;
    min-height: 56px;
    max-height: 56px;
    box-sizing: border-box;
    padding: 23.5px 10px 10px 10px;
    text-align: center;
    color: #9F1515;
    font-weight: 800;
}

.SelectedTab { /* tab seleccionada */
    color: white;
    border-bottom: 3px solid;
}

.headerMenuOpcions {
    color: black;
    -webkit-box-shadow: -19px 16px 74px -9px rgba(0,0,0,0.82);
    -moz-box-shadow: -19px 16px 74px -9px rgba(0,0,0,0.82);
    box-shadow: -19px 16px 74px -9px rgba(0,0,0,0.82);
    padding: 5px 0px 5px 0px;
    margin: 0px 5px 0px 0px;
}
.headerMenuOpcions li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200px;
}
.buttonMenuOpcions {
    width: 100%;
    text-align: left;
    font-size: 20px;
}
.buttonMenuOpcions:active {
    background-color: #F2F2F2;
}
/* heeader part end ------------------- */

/*group parts */
.grup{ 
    min-width: 33.33%;
    max-width: 33.33%;
    min-height: 130px;
    max-height: 130px;;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.imgGrup {
    margin-top: 7px;
    width: 65px;
    height: 65px;
}

.grupSelected {
    background-color: #E6E6E6;
    border-radius: 10px;
}

.grupLinia { /* clase per mostrar els grups en linia */
    min-width: 100%;
    max-width: 100%;
    min-height: 33.33%;
    max-height: 33.33%;
    box-sizing: border-box;
    clear: both;
    float: left;
    text-align: left;
    border-bottom: 1px solid #F2F2F2;;
}
.enLinia { /* per la imatge i el text es mostrin en lina*/
    float: left;
    margin: 5px;
}
/* ------------*/
/*parts resum */
.resum {
    box-sizing: border-box;
}
.resumBody{
    min-height: 200px;
    min-width: 100px;
    /*border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 1px;*/
    margin: 0px 20px 0px 20px;
}
.resumPublicacio {
    min-height: 100px;
    min-width: 100px;
    margin-top: 10px;
    border-bottom: 1px  solid lightgray;
}

/* Altres */



.acceptarUsuarisUl li{
    margin-top: 25px;
}

.acceptarUsuarisUl li:first-child {
    margin-top: 0px;
}