  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {
      font-size: 16px;
      }
  .margin {
      margin-bottom: 45px;
}
  .bg-1 { 
      background-color:#ffffff; /* Green */
      color: #2f2f2f;
  }
  .bg-2 { 
      background-color:#D51C1C; /* Dark Blue */
      color: #F2F2F2;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #F2F2F2;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .register input {
    margin:5px 0px 5px 0px;
    border-radius: 5px;
}
.espacio-vertical {
    margin-top: 15%;
}
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #F2F2F2 !important;
  }
  .navbar-brand1
  {
      z-index:1;
      position:relative;
      right:30px; 
      width:50px; 
      height:50px;
      font-size: 25px;
      float: left; 
  }
  .redback{
      background-color: #D51C1C; 
  }